<?xml version="1.0" encoding="utf-8" ?>
  <configuration>
    <appSettings>
      
      <!-- google server login configuration -->
      <add key="accounts_username" value="allakape@gmail.com" />
      <add key="accounts_password" value="a12345678a" />
      <add key="service" value = "MySpreadsheetIntegration-v1" />

      <!-- google spreadsheet configuration -->
      <add key="accountsInfoTab" value="xml report" />
      <add key="dailyChangeTab" value="Daily Change" />
      <add key="performanceTab" value="Performence" />        
      <add key="fileName" value="test2" />
      <add key="updateDateColumn" value="15" />

      <!-- SQL connection configuration -->
      <add key="ConnectionFormat" value="User Id={0};Data Source={1};Trusted_Connection={2};Initial Catalog={3};connection timeout={4}" />
      <add key="DataSource" value="ADASUSER2-PC" />
      <add key="Password" value="null" />
      <add key="UserId" value="AdasUser2-PC\\AdasUser2"/>
      <add key="DefaultDB" value="Signals" />
      <add key="connectionTimeout" value="3600" />
      <add key="TrastedConnection" value="true" />

      <!-- Login Mananger error message configuration -->
      <add key ="message1" value="Your statement is not ready at this time" />
      <add key ="message2" value="Request cannot be processed at this time" />
      <add key ="message3" value= "This report has excessive activity and has been queued for batch processing"/>
      <add key ="message4" value= "There was a problem while generating report for the account"/>
           
      <!-- Flex File Manager configuration -->
      <add key="baseUrl" value="https://gdcdyn.interactivebrokers.com/Universal/servlet/FlexStatementService.SendRequest?t=" />
      <add key="baseUr2" value="https://gdcdyn.interactivebrokers.com/Universal/servlet/FlexStatementService.GetStatement?q=" />


      <!-- Log file configuration -->
      <add key="logFileName" value="IB_Log" />     

      <!-- Interactive Brokers site login configuration -->
      <add key="IBUrl" value="https://gdcdyn.interactivebrokers.com/sso/Login" />

      <!-- report download configuration -->
      <add key="IBReportDownloadsPath" value="D:\\temp\\IBReportDownloads" />

      <!-- report uplouder configuration -->
      <add key="IBReportUploaderPath" value="D:\\temp\\IBReportDownloads\\BattleFin{0}.txt" />



    </appSettings>  
  </configuration>